{% extends 'pagebase.html' %}

{% block pageTitle %}
Create Campaign
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/create_campaign.css')}}">
{% endblock pageStyles %}

{% block pageBody %}
<div class="form-container">
    <form method="post">
        <div class="heading">
            <h1>Create <span>Campaign</span></h1>
            <div class="status-container">
                <h3>Status:</h3>
                <span id="private">Private </span> <input type="checkbox" name="status" id="status" class="form-role"
                    checked>
                <label for="status"></label><span id="public">
                    Public</span>
            </div>
        </div>
        <label for="name">Name</label>
        <input required type="text" name="name" id="name" class="form-input" placeholder="Name" />
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-input form-about"
            placeholder="Describe the campaign"></textarea>

        <div class="date-container">
            <div class="date-cont">
                <p>From</p>
                <input required type="date" name="start_date" id="start_date" class="form-date" min="{{today_date}}">
            </div>
            <div class="date-cont">
                <p>To</p>
                <input required type="date" name="end_date" id="end_date" class="form-date" min="{{today_date}}">
            </div>
        </div>

        <label for="budget">Budget</label>
        <input required type="number" name="budget" id="budget" class="form-input" min="0" placeholder="00">

        <label for="goal">Goal</label>
        <textarea name="goal" id="goal" class="form-input form-about"
            placeholder="Write goal(s) to achieve by the campaign"></textarea>

        <label for="category">Category</label>
        <select name="category" id="category" class="form-input form-select">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endfor %}
        </select>
        <p class="add-field-para">Couldn't find your Category? <a target="_blank"
                href="{{url_for('create_category')}}">Add here</a></p>
        <label>Niches</label>
        <div class="selected-values-container">
        </div>
        <div class="dropdown-container">Select <i class="fa-solid fa-caret-down" id="dropdown-toggler"></i>
            <div class="dropdown-menu">
                {% for niche in niches %}
                <div class="dropdown-item niche-cat-{{niche.associated_category}}" id="niche-{{niche.id}}">
                    <input style="display: none; " type="checkbox" name="niches" value="{{niche.id}}">
                    {{ niche.title }}
                </div>
                {% endfor %}
                <div id="Show-All">Show All Niches</div>
            </div>
        </div>
        <p class="add-field-para">Couldn't find your Niche? <a target="_blank" href="{{url_for('create_niche')}}">Add
                here</a></p>
        <button class="form-submit">Submit</button>
    </form>
</div>
{% endblock pageBody %}

{% block pageScripts %}
<script>
    let categoryChoice = document.getElementById("category");
    let dropdownItems = document.getElementsByClassName("dropdown-item");
    let checkboxes = document.getElementsByName("niches");
    let ShowAllBtn = document.getElementById("Show-All");
    let dropdownToggler = document.getElementById("dropdown-toggler");
    let showdropdown = false;
    let selectedContainer = document.querySelector(".selected-values-container")

    function changeNiches() {
        let selectedOption = categoryChoice.options[categoryChoice.selectedIndex];
        let selectedCategory = selectedOption.value
        for (let i = 0; i < dropdownItems.length; i++) {
            let item = dropdownItems[i];
            if (!item.classList.contains(`niche-cat-${selectedCategory}`)) {
                item.style.backgroundColor = "#22242f"
                item.style.display = "none";
            } else {
                item.style.display = "block";
                item.style.backgroundColor = "#161a2d99";
            }
        }
        ShowAllBtn.style.display = "block";
    }
    categoryChoice.addEventListener("change", changeNiches)
    window.addEventListener("DOMContentLoaded", changeNiches)
    ShowAllBtn.addEventListener("click", () => {
        for (let i = 0; i < dropdownItems.length; i++) {
            let item = dropdownItems[i];
            item.style.display = "block";
        }
        ShowAllBtn.style.display = "none";
    })
    dropdownToggler.addEventListener("click", (e) => {
        e.stopPropagation();
        let menu = document.querySelector(".dropdown-menu")
        if (showdropdown) {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
        showdropdown = !showdropdown;
    })
    document.addEventListener('click', function (event) {
        let menu = document.querySelector(".dropdown-menu")
        if (!menu.contains(event.target) && showdropdown) {
            menu.style.display = "none";
            showdropdown = false;
        }
    });
    for (let i = 0; i < dropdownItems.length; i++) {
        let item = dropdownItems[i];
        item.addEventListener("click", () => {
            let nicheId = Number(item.getAttribute("id").split("-")[1])
            if (!checkboxes[nicheId - 1].checked) {
                checkboxes[nicheId - 1].checked = true;
                let opt = document.createElement("span");
                opt.setAttribute("class", "selected-span")
                opt.innerHTML = `${item.innerText} <i class="fa-solid fa-xmark" id="cross-${nicheId}"></i>`
                selectedContainer.style.display = "flex"
                selectedContainer.appendChild(opt)
                opt.children[0].addEventListener("click", () => {
                    let someId = Number(opt.children[0].getAttribute("id").split("-")[1])
                    if (checkboxes[someId - 1].checked) {
                        checkboxes[someId - 1].checked = false;
                        opt.remove()
                        if (!selectedContainer.children.length) {
                            selectedContainer.style.display = "none"
                        }
                    }
                })
            }
        })
    }
</script>
{% endblock pageScripts %}