{% extends 'pagebase.html' %}

{% block pageTitle %}
Edit Ad request
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/adrequest_form.css')}}">
{% endblock pageStyles %}

{% block pageBody %}
<div class="form-container">
    <form method="post">
        <div class="heading">
            <h1>Edit<span> Ad Request</span></h1>
        </div>
        <label>Influencer</label>
        <div class="selectable-cont">
            <div class="img-cont">
                {% if adreq.ad_influencer.profile_photo %}
                <img src="{{ url_for('static',filename='uploads/profile_pics/'+adreq.ad_influencer.profile_photo)}}">
                {% else %}
                <img src="{{ url_for('static',filename='stockImages/blackpicture.jpg')}}">
                {% endif %}
            </div>
            <div class="text-cont">
                <a target="_blank" href="{{ url_for('influencer_profilepage',user_id=adreq.ad_influencer.user_id) }}">
                    <h1>{{adreq.ad_influencer.name}}</h1>
                </a>
                <h3>@{{ adreq.ad_influencer.user_data.username }}</h3>
            </div>
        </div>
        <label>Campaign</label>
        <div class="selectable-cont">
            <div class="img-cont-2">
                {% if adreq.ad_campaign.campaign_pic %}
                <img src="{{ url_for('static',filename='uploads/campaign_pics/'+adreq.ad_campaign.campaign_pic)}}">
                {% endif %}
            </div>
            <div class="text-cont">
                <a target="_blank" href="{{ url_for('campaign_page',campaign_id=adreq.ad_campaign.id)}}">
                    <h1>{{ adreq.ad_campaign.name }}</h1>
                </a>
                <h3>{{ current_user.sponsdata.company_name }}</h3>
            </div>
        </div>

        <label for="requirements">Requirements</label>
        <textarea name="requirements" id="requirements" class="form-input form-about" required {% if
            adreq.status=="unapproved" %} placeholder="{{adreq.requirements}}" {% endif
            %}>{% if adreq.status=="negotiation" %}{{ adreq.requirements }}{% endif %}</textarea>

        <label for="payment_amount">
            Payment Amount
        </label>
        <input type="number" name="payment_amount" id="payment_amount" class="form-input" required
            value="{{adreq.payment_amount}}">

        <label for="ad_message">Any Message</label>
        <textarea name="ad_message" id="ad_message" class="form-input form-about"
            placeholder="Write a message here for the Influencer. Tip: Write here the changes you have made (Requirements/Payment), and the reason to do so.(Optional)"></textarea>

        <input type="submit" {% if adreq.status=="unapproved" %} name="Approve Ad Request" {% else %}
            name="Approve Negotiation" {% endif %} id="Submit" class="form-submit">
    </form>
</div>
{% endblock pageBody %}