{% extends 'pagebase.html' %}

{% block pageTitle %}
My Ad Requests
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/myads.css')}}">
{% endblock pageStyles %}

{% block pageBody %}
{% if influencer.ads %}
<div class="select-cont">
    <select id="ad-status-select" class="form-input form-select">
        <option value="all">All</option>
        <option value="unapproved">Unapproved</option>
        <option value="pending">Pending</option>
        <option value="rejected">Rejected</option>
        <option value="accepted">Accepted</option>
        <option value="negotiation">Negotiation</option>
        <option value="unsettled">Unsettled</option>
        <option value="completed">Completed</option>
    </select>
</div>
<div class="ads-container">
    {% for ad in influencer.ads %}
    <div class="ad-container ad-{{ad.status}}">
        <span class="camp-ribbon">
            <h2>Request Status :</h2>
            <h1>{{ ad.status.capitalize() }}</h1>
        </span>
        <div class="selectable-cont">
            <div class="img-cont-2">
                {% if ad.ad_campaign.campaign_pic %}
                <img src="{{ url_for('static',filename='uploads/campaign_pics/'+ad.ad_campaign.campaign_pic)}}">
                {% endif %}
            </div>
            <div class="text-cont">
                <h2>Campaign : </h2>
                <a target="_blank" href="{{ url_for('campaign_page',campaign_id=ad.ad_campaign.id) }}">
                    <h1>{{ ad.ad_campaign.name }}</h1>
                </a>
                <h3>{{ ad.ad_campaign.sponsor.company_name }}</h3>
            </div>
        </div>
        <div class="payment-cont">
            <h2>Payment : </h2>
            <h1>${{ad.prettypayment}}/-</h1>
        </div>
        <div class="req-cont">
            <h1>Requirements : </h1>
            <p>{{ad.requirements}}</p>
        </div>
        <div class="chats-cont">
            <h1>Chat Messages</h1>
            {% if ad.messages %}
            {% for admsg in ad.messages %}
            <div {% if admsg.sender=="influencer" %} class="right" {% else %} class="left" {% endif %}>{{admsg.message}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <button class="showChats green-btn">Show Chats</button>
        <div class="action-btns">
            {%if ad.status == "pending" %}
            <a href="{{ url_for('acceptadreq_page',ad_request_id=ad.id) }}" class="green-btn">Accept</a>
            <button class="purple-btn negotiate-btn" ad="{{ad.id}}">Negotiate</button>
            <a href="{{ url_for('rejectadreq_page',ad_request_id=ad.id) }}" class="red-btn">Reject</a>
            {% elif ad.status == "accepted" %}
            <a href="{{ url_for('markcompleted_adreq',ad_request_id=ad.id) }}" class="purple-btn">Mark Completed</a>
            {%elif ad.status == "unapproved"%}
            <a href="{{ url_for('deleteadreq_page',ad_request_id=ad.id) }}" class="red-btn">Delete Request</a>
            {% else %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="modal">
    <div class="modal-content">
        <form method="post">
            <div class="form-heading">
                <h1>Negotiation <span>Request</span></h1>
            </div>
            <label for="ad_message">Message</label>
            <textarea name="ad_message" id="ad_message" required class="form-input form-about"
                placeholder="Write here the change(s) you want in the ad request"></textarea>
            <input type="submit" value="Submit Negotiation" class="form-submit">
        </form>
    </div>
</div>
{% endblock pageBody %}

{% block pageScripts %}
<script>
    let showBtns = document.getElementsByClassName("showChats");
    let showButtons = Array.from(showBtns);
    showButtons.forEach((showBtn) => {
        let currentstat = false;
        showBtn.addEventListener("click", (event) => {
            let chatBox = event.target.previousElementSibling;
            if (!currentstat) {
                chatBox.classList.remove("chat-invisible");
                chatBox.classList.add("chat-visible");
                currentstat = true;
                showBtn.innerText = "Close Chats";
                showBtn.classList.remove("green-btn");
                showBtn.classList.add("red-btn");
            }
            else {
                chatBox.classList.remove("chat-visible");
                chatBox.classList.add("chat-invisible");
                currentstat = false;
                showBtn.innerText = "Show Chats";
                showBtn.classList.add("green-btn");
                showBtn.classList.remove("red-btn");
            }
        })
    });

    let negotiateBtns = document.getElementsByClassName("negotiate-btn");
    let negotiateButtons = Array.from(negotiateBtns);
    let modal = document.querySelector(".modal");
    modal.addEventListener("click", () => {
        modal.style.display = "none";
    })
    modal.firstElementChild.addEventListener("click", (event) => {
        event.stopPropagation();
    })
    let subform = modal.querySelector("form");

    negotiateButtons.forEach((negotiateBtn) => {
        negotiateBtn.addEventListener("click", () => {
            subform.action = `/influencer/negotitateAdReq/${negotiateBtn.getAttribute("ad")}`;
            modal.style.display = "flex";
        })
    });

    let allAds = Array.from(document.getElementsByClassName("ad-container"));
    let selectAds = document.getElementById("ad-status-select");
    window.addEventListener("DOMContentLoaded", () => {
        if (allAds.length == 0) {
            selectAds.style.display = "none";
        }
    });
    selectAds.addEventListener("change", (event) => {
        if (event.target.value == "all") {
            allAds.forEach((add) => {
                add.style.display = "block";
            });
        } else {
            allAds.forEach((add) => {
                if (add.classList.contains(`ad-${event.target.value}`)) {
                    add.style.display = "block";
                } else {
                    add.style.display = "none";
                }
            });
        }
    });
</script>
{% endblock pageScripts %}