{% extends 'pagebase.html' %}

{% block pageTitle %}
Home
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/influencer_homepage.css')}}">
{% endblock pageStyles %}

{% block pageBody %}
<div class="cover-img-container">
    {% if user.infludata.cover_photo %}
    <img src="{{ url_for('static',filename='uploads/profile_pics/'+user.infludata.cover_photo)}}">
    {% else %}
    <img src="{{ url_for('static',filename='stockImages/cover.jpg')}}">
    {% endif %}
    <div class="update-pic-btn-container">
        <a class="img-coverup-btn" href="{{ url_for('update_coverpic',user_id=current_user.id) }}">Update Cover
            Pic</a>
    </div>
</div>
<section class="main-section">
    <div class="profile-bar-container">
        <div class="profile-bar">
            <div class="profile-picture-cont">
                {% if user.infludata.profile_photo %}
                <img class="profile-picture"
                    src="{{ url_for('static',filename='uploads/profile_pics/'+user.infludata.profile_photo)}}">
                {% else %}
                <img class="profile-picture" src="{{ url_for('static',filename='stockImages/blackpicture.jpg')}}">
                {% endif %}
                <div class="img-coverup">
                    <a href="{{url_for('update_profilepic',user_id=current_user.id)}}" class="img-coverup-btn">Update
                        Profile Pic</a>
                </div>
            </div>
            <h1 class="profile-data">{{user.infludata.name}}</h1>
            <h3 class="profile-data">@{{user.username}}</h3>
            <h5 class="profile-data">{{user.email_address}}</h5>
            <h6 class="profile-data">{{user.infludata.country}}</h6>
            <h2 class="profile-data">{{user.infludata.influencer_category.title}} Influencer</h2>
            <div class="about-section">
                <h4>About</h4>
                <p>{{user.infludata.about}}</p>
            </div>
            <div class="niche-section">
                <h4>Niches</h4>
                {% for niche in user.infludata.influencer_niches %}
                <span>{{niche.title}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="profile-options-container">
        <div class="menu-buttons-cont">
            <a href="{{url_for('influencer_profilepage',user_id=current_user.id)}}"><i class="fa-solid fa-user"></i>
                View Public Profile</a>
            <a href="{{url_for('influencer_completeprofile_page',user_id=current_user.id)}}"><i
                    class="fa-solid fa-marker"></i> Update Profile</a>
            <a href="{{ url_for('add_socialmedia',influencer_id = current_user.infludata.id) }}"><i
                    class="fa-solid fa-users"></i> Add Social Link</a>
            <a href=""><i class="fa-solid fa-envelope"></i> Message Center</a>
            <a href=""><i class="fa-solid fa-pen-to-square"></i> Write a Review</a>
            <a href=""><i class="fa-solid fa-comment-dollar"></i> View Transaction Log</a>
        </div>
        <div class="money-cont">
            <div class="money-title">
                <h4>Wallet Balance:</h4>
                <h2>${{ user.prettyBalance }}/-</h2>
            </div>
            <div class="money-btnsss">
                <a class="good-btn" href="{{url_for('addMoneyToWallet',user_id=current_user.id)}}"><i
                        class="fa-solid fa-wallet"></i> Add Money</a>
                <a class="bad-btn" href="{{url_for('withdrawMoneyFromWallet',user_id=current_user.id)}}"><i
                        class="fa-solid fa-money-bill-transfer"></i> Withdraw</a>
            </div>
        </div>
        {% if user.infludata.social_links %}
        <div class="socials-container">
            <h3>Social Links</h3>
            {% for sociallink in user.infludata.social_links %}
            <div class="social">
                <div class="social-name">
                    <a href="{{sociallink.link}}" target="_blank">
                        <div class="social-icon-cont" id="{{sociallink.handle}}">
                            <i class="fa-brands fa-{{sociallink.handle}}"></i>
                        </div>
                        <h4>{{ sociallink.handle.capitalize()}}</h4>
                    </a>
                </div>
                <p>Reach: {{ sociallink.nicereach }}</p>
                <div class="social-btns">
                    <a class="good-btn"
                        href="{{url_for('update_socialmedia',influencer_id = current_user.infludata.id,social_id=sociallink.id)}}">Update</a>
                    <a class="bad-btn"
                        href="{{url_for('delete_socialmedia',influencer_id = current_user.infludata.id,social_id=sociallink.id)}}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock pageBody %}

{% block pageScripts %}
<script>
    let profilepic = document.querySelector(".profile-picture-cont");
    let optcontainer = document.querySelector(".img-coverup")

    profilepic.addEventListener("mouseenter", () => {
        optcontainer.style.display = "flex";
    })
    profilepic.addEventListener("mouseleave", () => {
        optcontainer.style.display = "none";
    })
    let imgdiv = document.querySelector(".cover-img-container");
    imgdiv.addEventListener("mouseenter", () => {
        let box = imgdiv.querySelector(".update-pic-btn-container");
        box.style.display = "flex";
    });
    imgdiv.addEventListener("mouseleave", () => {
        let box = imgdiv.querySelector(".update-pic-btn-container");
        box.style.display = "none";
    });

</script>
{% endblock pageScripts %}