{% extends 'pagebase.html' %}

{% block pageTitle %}
Update Profile
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/influencer_updateprofile.css')}}">
{% endblock pageStyles %}

{% block pageBody %}
<div class="form-container">
    <form method="post">
        <div class="heading">
            <h1>Update <span>Profile</span></h1>
        </div>
        <label for="name">Name</label>
        <input required type="text" name="name" id="name" class="form-input" placeholder="Name" {% if user.infludata %}
            value="{{user.infludata.name}}" {% endif %}>

        <label for="about">About</label>
        <textarea name="about" id="about" class="form-input form-about"
            placeholder="Write some text here..">{% if user.infludata %}{{user.infludata.about}}{% endif %}</textarea>

        <label for="country">Country</label>
        <select name="country" id="country" class="form-input form-select" value="India">
            {% if user.infludata %}
            {% for country in list_of_countries %}
            {% if country==user.infludata.country %}
            <option value="{{country}}" selected>{{country}}</option>
            {% else %}
            <option value="{{country}}">{{country}}</option>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for country in list_of_countries %}
            {% if country=="India" %}
            <option value="{{country}}" selected>{{country}}</option>
            {% else %}
            <option value="{{country}}">{{country}}</option>
            {% endif %}
            {% endfor %}
            {% endif %}

        </select>
        <label for="category">Category</label>
        <select name="category" id="category" class="form-input form-select">
            {% if user.infludata %}
            {% for category in categories %}
            {% if category.id==user.infludata.category_id %}
            <option value="{{category.id}}" selected>{{category.title}}</option>
            {% else %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for category in categories %}
            <option value="{{category.id}}">{{category.title}}</option>
            {% endfor %}
            {% endif %}
        </select>
        <p class="add-field-para">Couldn't find your Category? <a target="_blank"
                href="{{url_for('create_category')}}">Add here</a></p>
        <label>Niches</label>
        <div class="selected-values-container">
            {% if user.infludata %}
            {% for niche in user.infludata.influencer_niches %}
            <span class="selected-span">{{niche.title}} <i class="fa-solid fa-xmark" id="cross-{{niche.id}}"></i></span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="dropdown-container">Select <i class="fa-solid fa-caret-down" id="dropdown-toggler"></i>
            <div class="dropdown-menu">
                {% for niche in niches %}
                <div class="dropdown-item niche-cat-{{niche.associated_category}}" id="niche-{{niche.id}}">
                    <input style="display: none; " type="checkbox" name="niches" value="{{niche.id}}">
                    {{ niche.title }}
                </div>
                {% endfor %}
                <div id="Show-All">Show All Niches</div>
            </div>
        </div>
        <p class="add-field-para">Couldn't find your Niche? <a target="_blank" href="{{url_for('create_niche')}}">Add
                here</a></p>
        <button class="form-submit">Submit</button>
    </form>
</div>
{% endblock pageBody %}

{% block pageScripts %}
<script>
    let categoryChoice = document.getElementById("category");
    let dropdownItems = document.getElementsByClassName("dropdown-item");
    let checkboxes = document.getElementsByName("niches");
    let ShowAllBtn = document.getElementById("Show-All");
    let dropdownToggler = document.getElementById("dropdown-toggler");
    let showdropdown = false;
    let selectedContainer = document.querySelector(".selected-values-container")

    function changeNiches() {
        let selectedOption = categoryChoice.options[categoryChoice.selectedIndex];
        let selectedCategory = selectedOption.value
        for (let i = 0; i < dropdownItems.length; i++) {
            let item = dropdownItems[i];
            if (!item.classList.contains(`niche-cat-${selectedCategory}`)) {
                item.style.backgroundColor = "#22242f"
                item.style.display = "none";
            } else {
                item.style.display = "block";
                item.style.backgroundColor = "#161a2d99";
            }
        }
        ShowAllBtn.style.display = "block";
    }
    categoryChoice.addEventListener("change", changeNiches)
    window.addEventListener("DOMContentLoaded", changeNiches)
    ShowAllBtn.addEventListener("click", () => {
        for (let i = 0; i < dropdownItems.length; i++) {
            let item = dropdownItems[i];
            item.style.display = "block";
        }
        ShowAllBtn.style.display = "none";
    })
    dropdownToggler.addEventListener("click", (e) => {
        e.stopPropagation();
        let menu = document.querySelector(".dropdown-menu")
        if (showdropdown) {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
        showdropdown = !showdropdown;
    });
    document.addEventListener('click', function (event) {
        let menu = document.querySelector(".dropdown-menu")
        if (!menu.contains(event.target) && showdropdown) {
            menu.style.display = "none";
            showdropdown = false;
        }
    });
    try {
        window.addEventListener("DOMContentLoaded", () => {
            if (!selectedContainer.children.length) {
                selectedContainer.style.display = "none"
            }
            let preselectedniches = document.querySelectorAll(".selected-span")
            for (const opt of preselectedniches) {
                let someId = Number(opt.children[0].getAttribute("id").split("-")[1])
                checkboxes[someId - 1].checked = true;
                opt.children[0].addEventListener("click", () => {
                    let someId = Number(opt.children[0].getAttribute("id").split("-")[1])
                    if (checkboxes[someId - 1].checked) {
                        checkboxes[someId - 1].checked = false;
                        opt.remove()
                        if (!selectedContainer.children.length) {
                            selectedContainer.style.display = "none"
                        }
                    }
                })
            }
        })

    } catch (e) {
        console.log("No previous records")
    }
    for (let i = 0; i < dropdownItems.length; i++) {
        let item = dropdownItems[i];
        item.addEventListener("click", () => {
            let nicheId = Number(item.getAttribute("id").split("-")[1])
            if (!checkboxes[nicheId - 1].checked) {
                checkboxes[nicheId - 1].checked = true;
                let opt = document.createElement("span");
                opt.setAttribute("class", "selected-span")
                opt.innerHTML = `${item.innerText} <i class="fa-solid fa-xmark" id="cross-${nicheId}"></i>`
                selectedContainer.style.display = "flex"
                selectedContainer.appendChild(opt)
                opt.children[0].addEventListener("click", () => {
                    let someId = Number(opt.children[0].getAttribute("id").split("-")[1])
                    if (checkboxes[someId - 1].checked) {
                        checkboxes[someId - 1].checked = false;
                        opt.remove()
                        if (!selectedContainer.children.length) {
                            selectedContainer.style.display = "none"
                        }
                    }
                })
            }
        })
    }

</script>
{% endblock pageScripts %}