<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Favicon linking -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='stockImages/faviconFinal.png')}}" />
    <!-- Css linking -->
    <link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/main_nav.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/login.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/notifications.css')}}" />
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {% include 'main_nav.html' %}
    {% include 'notifications.html' %}
    <div class="form-container">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="heading">
                <h1>Log <span>In</span></h1>
            </div>
            {{ form.username(class="form-input")}}
            {{ form.username.label }}
            {{ form.password(class="form-input")}}
            {{ form.password.label }}
            <i class="fa-solid fa-eye" id="icon1"></i>
            {{ form.submit(class="form-submit")}}
            <p class="some-data">Don't have an account? <a href="{{url_for('register_page')}}">Register here</a></p>
        </form>
    </div>
</body>
<script>
    const inputs = document.querySelectorAll(".form-input");
    inputs.forEach((inp) => {
        inp.addEventListener("input", () => {
            if (inp.value !== "") {
                inp.nextElementSibling.classList.add("inactive");
            }
            else if (inp.value === "") {
                inp.nextElementSibling.classList.remove("inactive");
            }
        })
    })
    window.addEventListener("load", () => {
        inputs.forEach((inp) => {
            if (inp.value !== "") {
                inp.nextElementSibling.classList.add("inactive");
            }
            else if (inp.value === "") {
                inp.nextElementSibling.classList.remove("inactive");
            }
        })
    })
    //Handling password viewability
    let e1 = true;
    const eye1 = document.querySelector("#icon1");
    eye1.addEventListener("click", () => {
        if (e1) {
            inputs[1].setAttribute("type", "text");
            eye1.classList.remove("fa-eye");
            eye1.classList.add("fa-eye-slash");
            e1 = false
        }
        else {
            inputs[1].setAttribute("type", "password");
            eye1.classList.remove("fa-eye-slash");
            eye1.classList.add("fa-eye");
            e1 = true
        }
    })
</script>
<script src="{{ url_for('static',filename='jsScripts/notifications.js')}}"></script>

</html>