{% extends 'pagebase.html' %}

{% block pageTitle %}
My Campaigns
{% endblock pageTitle %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/my_campaigns.css')}}" />
{% endblock pageStyles %}

{% block pageBody %}
{% if sponsor.campaigns|length!=0 %}
{% for campaign in sponsor.campaigns %}
<div
    class="camp-container {%if campaign.is_flagged%} camp-flagged {%endif%} {%if campaign.has_ended %} camp-ended {%endif%}">
    <div class="camp-img-cont">
        {% if campaign.campaign_pic %}
        <img id="display" src="{{ url_for('static',filename='uploads/campaign_pics/'+campaign.campaign_pic)}}">
        {% endif %}
        {% if campaign.has_ended %}
        {%else%}
        <div class="update-pic-btn-container">
            <a class="update-btn" href="{{ url_for('update_campaignpic_page',campaign_id=campaign.id) }}">Update Pic</a>
        </div>
        {% endif %}
    </div>
    <div class="camp-opt-cont">
        <div class="headingcont">
            <h1>{{ campaign.name }}</h1>
            <span class="status-{{campaign.status}}">Status: {{campaign.status.capitalize()}}</span>
        </div>
        <p class="camp-date">From: {{ campaign.start_date }} | To: {{ campaign.end_date }}</p>
        <div class="cat-niches">
            <p class="camp-cat">{{ campaign.campaign_category.title }} Category</p>
            <p class="camp-nic">Niches: </p>
            <ul>
                {% for niche in campaign.campaign_niches %}
                <li>{{niche.title}}{% if loop.index!= campaign.campaign_niches|length %},{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
        <p class="budget">${{campaign.prettyBudget}}/-</p>
        <p class="descc"><span>Description :</span> {{ campaign.description }}</p>
        <p class="descc"><span>Goal :</span> {{ campaign.goal }}</p>
        <div class="progress">Progress : <div class="progress-bar">
                {% set progress = ((today_date - campaign.start_date).days)*100/((campaign.end_date -
                campaign.start_date).days) %}
                <div class="progress-fill" {% if progress < 0 %} style="width: 0;" {% else %} {% if progress> 100 %}
                    style="width: 100%;"
                    {% else %}
                    style="width: {{progress}}%;"{% endif %} {% endif %}>
                </div>
            </div>
        </div>

        <div class="act-btns">
            {% if campaign.has_ended %}
            <a class="status-btn"
                href="{{ url_for('sponsor_adrequests',sponsor_id=campaign.sponsor.id,campaign=campaign.id) }}">View Ad
                Requests</a>
            <a class="delete-btn delete-camp" href="{{ url_for('deleteCampaign',campaign_id=campaign.id) }}">Delete</a>
            {% else %}
            <a class="status-btn" href="{{url_for('toggle_campaignstatus',campaign_id=campaign.id)}}">Make {% if
                campaign.status == "public" %}
                Private
                {% else %}
                Public
                {% endif %}</a>
            <a class="status-btn"
                href="{{ url_for('sponsor_adrequests',sponsor_id=campaign.sponsor.id,campaign=campaign.id) }}">View Ad
                Requests</a>
            <a class="end-btn end-camp" href="{{ url_for('endCampaign',campaign_id=campaign.id) }}">End Campaign</a>
            <a class="update-btn" href="{{ url_for('update_campaignpage',campaign_id=campaign.id) }}">Update</a>
            <a class="delete-btn delete-camp" href="{{ url_for('deleteCampaign',campaign_id=campaign.id) }}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<button id="Show-completed" class="update-btn">Show Ended Campaigns</button>
<div class="modal">
    <div class="modal-content">
        <h1>WARNING!</h1>
        <p></p>
        <div>
            <button class="delete-btn" id="continue-btn">Continue Anyways</button>
            <button class="update-btn" id="cancel-btn">Cancel</button>
        </div>
    </div>
</div>
{% endblock pageBody %}

{% block pageScripts %}
<script>
    try {
        let imgdivs = document.querySelectorAll(".camp-img-cont");
        imgdivs.forEach((imgdiv) => {
            imgdiv.addEventListener("mouseenter", () => {
                try {
                    let box = imgdiv.querySelector(".update-pic-btn-container");
                    box.style.display = "flex";
                } catch (e) { }
            });
            imgdiv.addEventListener("mouseleave", () => {
                try {
                    let box = imgdiv.querySelector(".update-pic-btn-container");
                    box.style.display = "none";
                } catch (e) { }
            });
        });
    } catch (e) {
        //No campaigns found!
    }
    let someAds = Array.from(document.getElementsByClassName("camp-ended"));
    let adToggle = document.getElementById("Show-completed");
    let showcomp = false;
    window.addEventListener("DOMContentLoaded", () => {
        if (someAds.length == 0) {
            adToggle.style.display = "none";
        }
    })
    adToggle.addEventListener("click", () => {
        if (!showcomp) {
            someAds.forEach(ad => ad.style.display = "flex")
            showcomp = true;
            adToggle.classList.remove("update-btn");
            adToggle.classList.add("delete-btn");
            adToggle.innerText = "Hide Ended Campaigns";
        } else {
            someAds.forEach(ad => ad.style.display = "none")
            showcomp = false;
            adToggle.classList.add("update-btn");
            adToggle.classList.remove("delete-btn");
            adToggle.innerText = "Show Ended Campaigns";
        }
    });
    let modal = document.querySelector(".modal");
    let contbtn = modal.querySelector("#continue-btn");
    let cancelbtn = modal.querySelector("#cancel-btn");
    let endBtns = Array.from(document.getElementsByClassName("end-camp"));
    let delBtns = Array.from(document.getElementsByClassName("delete-camp"));
    let href;
    endBtns.forEach(endBtn => {
        endBtn.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation();
            ptag = modal.querySelector("p");
            ptag.innerText = "This would reject every pending/unapproved Ad request of the campaign!";
            modal.style.display = "flex";
            href = endBtn.getAttribute("href");
            console.log(href)
        })
    });
    delBtns.forEach(delBtn => {
        delBtn.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation();
            ptag = modal.querySelector("p");
            ptag.innerText = "This could delete all associated Ad requests of the campaign which will can never be retrieved again!";
            modal.style.display = "flex";
            href = delBtn.getAttribute("href");
            console.log(href)
        })
    });
    contbtn.addEventListener('click', () => {
        window.location.href = href;
    });
    cancelbtn.addEventListener('click', () => {
        modal.style.display = 'none';
    });
    modal.firstElementChild.addEventListener("click", (event) => {
        event.stopPropagation();
    })
    window.addEventListener("click", () => {
        modal.style.display = 'none';
    })
</script>
{% endblock pageScripts %}