{% extends 'pagebase.html' %}

{% block pageTitle %}
View Campaign
{% endblock pageTitle %}

{% block pageStyles %}
{% if current_user.role=="influencer" or current_user.role =="admin" %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/search_campaigns.css')}}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static',filename='cssStyles/my_campaigns.css')}}" />
{% endif %}
{% endblock pageStyles %}

{% block pageBody %}
{% if current_user.role=="influencer" or current_user.role =="admin" %}
<div class="camp-container">
    <span class="camp-ribbon">
        <h3>By: {{ campaign.sponsor.company_name }}</h3>
        <div class="spons-img-cont">
            {% if campaign.sponsor.profile_photo %}
            <img class="round"
                src="{{ url_for('static',filename='uploads/profile_pics/'+campaign.sponsor.profile_photo)}}">
            {% else %}
            <img class="round" src="{{ url_for('static',filename='stockImages/blackpicture.jpg')}}">
            {% endif %}
        </div>
    </span>
    <div class="camp-img-cont">
        {% if campaign.campaign_pic %}
        <img id="display" src="{{ url_for('static',filename='uploads/campaign_pics/'+campaign.campaign_pic)}}">
        {% endif %}
    </div>
    <div class="camp-opt-cont">
        <h1>{{ campaign.name }}</h1>
        <p class="camp-date">From: {{ campaign.start_date }} | To: {{ campaign.end_date }}</p>
        <p class="camp-cat">{{ campaign.campaign_category.title }} Category</p>
        <div class="camp-niches">
            <p class="camp-nic">Niches: </p>
            {% for niche in campaign.campaign_niches %}
            <p class="nichh">{{niche.title}}{% if loop.index!= campaign.campaign_niches|length %},{% endif %}</p>
            {% endfor %}
        </div>
        <p class="budget">${{campaign.prettyBudget}}/-</p>
        <p class="descc"><span>Description :</span> {{ campaign.description }}</p>
        <p class="descc"><span>Goal :</span> {{ campaign.goal }}</p>
        <div class="progress">Progress : <div class="progress-bar">
                {% set progress = ((today_date - campaign.start_date).days)*100/((campaign.end_date -
                campaign.start_date).days) %}
                <div class="progress-fill" {% if progress < 0 %} style="width: 0;" {% else %} {% if progress> 100 %}
                    style="width: 100%;"
                    {% else %}
                    style="width: {{progress}}%;"{% endif %} {% endif %}>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div {% if campaign.is_flagged %} class="camp-container camp-flagged" {% else %} class="camp-container" {% endif %}>
    <div class="camp-img-cont">
        {% if campaign.campaign_pic %}
        <img id="display" src="{{ url_for('static',filename='uploads/campaign_pics/'+campaign.campaign_pic)}}">
        {% endif %}
        <div class="update-pic-btn-container">
            <a class="update-btn" href="{{ url_for('update_campaignpic_page',campaign_id=campaign.id) }}">Update Pic</a>
        </div>
    </div>
    <div class="camp-opt-cont">
        <div class="headingcont">
            <h1>{{ campaign.name }}</h1>
            <span class="status-{{campaign.status}}">Status: {{campaign.status.capitalize()}}</span>
        </div>
        <p class="camp-date">From: {{ campaign.start_date }} | To: {{ campaign.end_date }}</p>
        <div class="cat-niches">
            <div>
                <p class="camp-cat">{{ campaign.campaign_category.title }} Category</p>
            </div>
            <div class="niches-cont">
                <p class="camp-nic">Niches: </p>
                {% for niche in campaign.campaign_niches %}
                <p class="nichh">{{niche.title}}{% if loop.index!= campaign.campaign_niches|length %},{% endif %}</p>
                {% endfor %}
            </div>
        </div>
        <p class="budget">${{campaign.prettyBudget}}/-</p>
        <p class="descc"><span>Description :</span> {{ campaign.description }}</p>
        <p class="descc"><span>Goal :</span> {{ campaign.goal }}</p>
        <div class="progress">Progress : <div class="progress-bar">
                {% set progress = ((today_date - campaign.start_date).days)*100/((campaign.end_date -
                campaign.start_date).days) %}
                <div class="progress-fill" {% if progress < 0 %} style="width: 0;" {% else %} {% if progress> 100 %}
                    style="width: 100%;"
                    {% else %}
                    style="width: {{progress}}%;"{% endif %} {% endif %}>
                </div>
            </div>
        </div>

        <div class="act-btns">
            <a class="status-btn" href="{{url_for('toggle_campaignstatus',campaign_id=campaign.id)}}">Make {% if
                campaign.status == "public" %}
                Private
                {% else %}
                Public
                {% endif %}</a>
            <a class="status-btn" href="">View Ad Requests</a>
            <a class="end-btn" href="">End Campaign</a>
            <a class="update-btn" href="{{ url_for('update_campaignpage',campaign_id=campaign.id) }}">Update</a>
            <a class="delete-btn" href="">Delete</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock pageBody %}