#Virtual Environment Stuff :
venv/

#Database Instance
instance/

#Python cache files
__pycache__

#images
collabhub/static/uploads/campaign_pics/*
collabhub/static/uploads/profile_pics/*
!collabhub/static/uploads/campaign_pics/.gitkeep
!collabhub/static/uploads/profile_pics/.gitkeep