.form-container {
    background-color: #282828e5;
    margin: 90px auto 90px;
    padding: 20px;
    border-radius: 15px;
    width: 65%;
    box-shadow: 3px 3px 5px black;
}

form {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 5.5rem;
    margin-left: 10px;
}

.heading h1 span {
    color: #8c60ec;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.status-container h3 {
    text-align: center;
    margin-bottom: 10px;
}

.status-container span {
    transform: translateY(-10px);
    display: inline-block;
    font-size: 1.1rem;
}

.status-container #public {
    color: white;
}

.status-container #private {
    color: #a27af0;
}

label[for="status"] {
    background-color: #717171;
    width: 55px;
    height: 28px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    display: inline-block;
}

label[for="status"]::before {
    position: absolute;
    content: '';
    background-color: #ffffffd0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 3px;
    transition: 0.2s;
}

.form-role:checked+label[for="status"]::before {
    transform: translateX(26px);
}

.form-role {
    display: none;
}

.status-container:has(.form-role:checked) #public {
    color: #a27af0;
}

.status-container:has(.form-role:checked) #private {
    color: white;
}

.form-input {
    width: 70%;
    padding: 12px 15px;
    border-radius: 18px;
    margin: 10px auto;
    background-color: #3f3f3fd5;
    color: white;
    border: 3px solid transparent;
    font-size: 1.1rem;
    outline: none;
    transition: 0.2s;
}

.form-input:focus {
    border-color: #8c60ec;
    box-shadow: 3px 3px 5px black;
}

.form-submit {
    width: 73%;
    padding: 12px;
    border-radius: 18px;
    margin: 20px auto;
    background-color: #a27af0;
    color: black;
    font-size: 1.1rem;
    border: 3px solid #a27af0;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #7446e7;
    color: rgba(255, 255, 255, 0.847);
}

label:not([for="status"]) {
    margin: 1px auto 1px 140px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.69);
    cursor: pointer;
}

label:not([for="status"]):has(+.form-input:focus) {
    color: #8c60ec;
}

.form-about {
    overflow-y: scroll;
    height: 100px;
    resize: none;
    margin-bottom: 20px;
}

.form-about::-webkit-scrollbar {
    display: none;
}

.form-select {
    width: 74%;
}

.dropdown-container {
    width: 70%;
    padding: 12px 15px;
    border-radius: 18px;
    margin: 12px auto 15px;
    background-color: #3f3f3fd5;
    color: white;
    border: 3px solid transparent;
    font-size: 1.1rem;
    position: relative;
}

.dropdown-container i {
    float: right;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 1;
    background-color: #6c6c6c;
    width: 90%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 3px 4px;
    overflow-y: scroll;
    height: 280px;
    display: none;
}

.dropdown-item {
    font-size: 1.1rem;
    padding: 8px 15px;
    border-radius: 13px;
    width: 95%;
    margin: 5px auto;
    background-color: #3f3f3fe4;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #22242f;
}

#Show-All {
    background-color: #7446e7;
    padding: 8px 15px;
    font-size: 1.1rem;
    border-radius: 13px;
    cursor: pointer;
    margin: 5px auto;
    width: 30%;
    text-align: center;
    color: black;
}

#Show-All:hover {
    background-color: #8c60ec;
    color: white;
}

.selected-values-container {
    width: 70%;
    padding: 12px 15px;
    border-radius: 18px;
    margin: 12px auto 15px;
    background-color: #3f3f3fd5;
    color: white;
    border: 3px solid transparent;
    display: none;
    flex-wrap: wrap;
    height: 100px;
    overflow-y: scroll;
}

.selected-span {
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #a17af089;
    height: 23px;
    margin: 2px 7px;
}

.selected-span i {
    font-size: 1rem;
    color: #22242f;
    cursor: pointer;
}

.selected-span i:hover {
    font-size: 1rem;
    color: #690303;
}

.date-container {
    display: flex;
    width: 70%;
    padding: 6px 7px;
    margin: 10px auto;
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-around;
}

.date-cont {
    padding: 15px;
    border-radius: 12px;
    background-color: #3f3f3fd5;
    text-align: center;
}

.form-date {
    background-color: #717171e0;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid transparent;
    color: white;
    margin: 8px 8px;
}

.form-date:focus {
    border: 2px solid #a27af0;
}

.date-cont p:has(+.form-date:focus) {
    color: #a27af0;
}

.add-field-para {
    text-align: center;
    margin: 7px auto;
    color: rgba(255, 255, 255, 0.726);
}

.add-field-para a {
    text-decoration: none;
    color: #7446e7;
}