/* Hero area */

.hero-area {
  background-color: #2828289b;
  height: calc(100vh - 140px);
  width: calc(100vw - 60px);
  margin: 30px auto 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img-shape {
  height: 500px;
  width: 500px;
  background-color: #3f3f3fcb;
  border-radius: 50%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 800px;
  transform: translateY(26px);
}

.hero-text-container {
  margin-left: 25px;
  height: 90%;
}

.hero-heading {
  font-size: 130px;
  color: #7446e7;
  max-width: 740px;
  margin-bottom: 15px;
}

.hero-subheading {
  color: #a17af0a9;
  font-size: 38px;
  max-width: 780px;
  margin-bottom: 22px;
  text-align: center;
}

.hero-text {
  color: rgba(255, 255, 255, 0.811);
  max-width: 740px;
  font-size: 20px;
  word-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 55px;
  text-align: center;
}

.hero-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  background-color: #a27af0;
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: 600;
}

.hero-btn:hover {
  background-color: #7446e7;
  color: whitesmoke;
}

/* Counters */
.counters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 30px 0;
}

.counter {
  background-color: #282828;
  padding: 20px;
  width: 270px;
  border-radius: 20px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.counter-title1 {
  color: #e04848be;
}

.counter-title2 {
  color: #e0a93cbc;
}

.counter-title3 {
  color: #559e45b8;
}

#counter-icon1 {
  color: #e04848;
  text-shadow: 2px 2px 2px #e0484869;
}

#counter-icon2 {
  color: #e0aa3c;
  text-shadow: 2px 2px 2px #e0a93c54;
}

#counter-icon3 {
  color: #559e45;
  text-shadow: 2px 2px 2px #559e45a5;
}

.fa-solid {
  font-size: 1.5rem;
}

.counter h1 {
  color: white;
  margin: 15px;
}

/* Features and how it works Section */
.howitworks-section,
.features-section {
  background-color: #2828289b;
  height: calc(100vh - 100px);
  width: calc(100vw - 60px);
  margin: 80px auto 80px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.howitworks-text-container {
  margin-left: 25px;
  width: 50%;
}

.features-text-container {
  margin-right: 25px;
  width: 50%;
}

.howitworks-text-container h1,
.features-text-container h1 {
  color: white;
  font-size: 90px;
  text-align: center;
}

.howitworks-text-container h1 span,
.features-text-container h1 span {
  color: #8c60ec;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.card {
  height: 150px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #3f3f3f;
  position: relative;
}

.card-fill {
  background-color: #282828;
}

.card .star {
  height: 10px;
  width: 10px;
  padding: 15px;
  border-radius: 100%;
  background-color: #7446e7;
  position: absolute;
  top: -15px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.card h1 {
  color: #8c60ec;
  font-size: 28px;
}

.card p {
  color: rgba(255, 255, 255, 0.816);
  font-size: 19px;
  margin-top: 22px;
}

.card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.features-img-shape,
.howitworks-img-shape {
  height: 550px;
  width: 550px;
  background-color: #3f3f3fcb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.features-img-shape {
  margin-left: 25px;
}

.howitworks-img-shape {
  margin-right: 25px;
}

.features-img-shape img {
  height: 680px;
  transform: translateY(-40px);
}

.howitworks-img-shape img {
  height: 720px;
  transform: translateY(-40px);
}

/* Footer Area */
footer {
  background-color: #2828289b;
  height: 200px;
  width: calc(100vw - 60px);
  margin: 80px auto 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-container {
  width: 47%;
  margin-left: 20px;
}

.footer-logo-container img {
  width: 100%;
  border-radius: 20px;
}

.footer-textarea {
  height: 72%;
  width: 47%;
  margin: 20px 0 20px;
  background-color: #3f3f3f;
  border-radius: 20px;
  text-align: center;
}

.footer-textarea h4 {
  color: rgba(255, 255, 255, 0.773);
  font-size: 1.1rem;
  margin-top: 15px;
}

.footer-textarea p {
  color: rgba(255, 255, 255, 0.586);
  margin-top: 8px;
}

.footer-textarea span {
  color: #8c60ec;
}

.copyright-holder {
  margin-top: 20px;
  color: #a27af0;
}