.cover-img-container {
    width: 100vw;
    height: calc(100vw*(3/16));
    margin-top: -10px;
    position: relative;
}

.cover-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.main-section {
    display: flex;
}

.profile-options-container {
    flex-grow: 1;
}

.profile-bar {
    width: 300px;
    background-color: #282828e7;
    border-radius: 150px;
    margin: 0 30px -120px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(-180px);
}

.profile-picture-cont {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    margin: 8px auto;
    position: relative;
}

.profile-picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile-data {
    width: 80%;
    text-align: center;
}

.profile-bar h1 {
    font-size: 2.2rem;
    margin: 10px auto 3px;
    color: #7446e7;
}

.profile-bar h2 {
    font-size: 1.5rem;
    margin: 20px auto 3px;
    color: rgba(255, 255, 255, 0.896);
    background-color: #8c60ec;
    border-radius: 15px;
    padding: 7px;
}

.profile-bar h3 {
    font-size: 1.2rem;
    margin: 9px auto 3px;
    color: #a27af0;
}

.profile-bar h5 {
    color: rgba(255, 255, 255, 0.83);
    font-size: 1rem;
    margin: 8px auto 3px;
}

.profile-bar h6 {
    color: rgba(255, 255, 255, 0.83);
    margin: 6px auto 3px;
    font-size: 0.8rem;
}

.about-section {
    width: 85%;
    margin: 20px auto 10px;
    background-color: #3f3f3fd8;
    border-radius: 15px;
    padding: 10px;
}

.about-section h4,
.niche-section h4 {
    color: #8c60ec;
    font-size: 1.3rem;
    margin: 5px auto;
    text-align: center;
}

.about-section p {
    color: rgba(255, 255, 255, 0.786);
    text-align: center;
}

.niche-section {
    width: 85%;
    margin: 20px auto 150px;
    background-color: #3f3f3fd8;
    border-radius: 15px;
    padding: 10px;
}

.niche-section span {
    display: inline-block;
    padding: 7px;
    margin: 5px 3px;
    background-color: #a17af0d6;
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
}

.img-coverup {
    background-color: rgba(255, 255, 255, 0.792);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.img-coverup-btn {
    background-color: #8c60ec;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.img-coverup-btn:hover {
    background-color: #7446e7;
}

.update-pic-btn-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.648);
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.menu-buttons-cont,
.money-cont {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: #282828c1;
    border-radius: 15px;
    width: 85%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.money-cont {
    justify-content: space-between;
}

.menu-buttons-cont a,
.money-cont a,
.socials-container a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 7px;
    margin: 5px 12px;
}

.menu-buttons-cont a {
    background-color: #8b8b8be4;
}

.menu-buttons-cont a:hover {
    background-color: #696969;
}

.money-cont h4 {
    font-size: 1.7rem;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.792);
}

.money-cont .money-btnsss {
    margin-right: 10px;
}

.money-cont h2 {
    font-size: 2.3rem;
    color: #24830fed;
    margin-left: 10px;
}

.money-title {
    display: flex;
    align-items: center;
}

.good-btn {
    background-color: #34ad19d6;
}

.good-btn:hover {
    background-color: #24830fed;
}

.bad-btn {
    background-color: #e04848;
}

.bad-btn:hover {
    background-color: #bc2222e7;
}

.socials-container {
    padding: 20px 10px;
    background-color: #282828c1;
    border-radius: 15px;
    width: 85%;
    margin: 20px auto;
}

.social p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.796);
}

.socials-container h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.social {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
    border-radius: 15px;
    background-color: #3f3f3fc7;
    padding: 18px;
}

.social-name h4 {
    font-size: 1.3rem;
    display: inline-block;
    margin-left: 5px;
    transition: 0.2s ease-in;
}

.social-icon-cont {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    background-color: rgba(255, 255, 255, 0.759);
    transition: 0.2s ease-in;
}

.social-icon-cont i {
    color: rgba(0, 0, 0, 0.795);
    transition: 0.2s ease-in;
}

.social-name a:hover i {
    color: white;
}

.social-name a:hover #facebook {
    background-color: #316FF6;
}

.social-name a:hover #facebook+h4 {
    color: #316FF6;
}

.social-name a:hover #instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.social-name a:hover #instagram+h4 {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-name a:hover #youtube {
    background-color: #CD201F;
}

.social-name a:hover #youtube+h4 {
    color: #CD201F;
}

.social-name a:hover #x-twitter {
    background-color: black;
}

.social-name a:hover #reddit {
    background-color: #FF5700;
}

.social-name a:hover #reddit+h4 {
    color: #FF5700;
}

.social-name a:hover #linkedin {
    background-color: #0077B5;
}

.social-name a:hover #discord {
    background-color: #5865F2;
}

.social-name a:hover #linkedin+h4 {
    color: #0077B5;
}

.social-name a:hover #discord+h4 {
    color: #5865F2;
}

.social-name a:hover #twitch {
    background-color: #9146ff;
}

.social-name a:hover #tumblr {
    background-color: #36465D;
}

.social-name a:hover #twitch+h4 {
    color: #9146ff;
}

.social-name a:hover #tumblr+h4 {
    color: #36465D;
}

.social-name a:hover #threads {
    background-color: black;
}