* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #121212;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.form-container {
    background-color: #282828e5;
    margin: 90px auto 90px;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    width: 60%;
    box-shadow: 3px 3px 5px black;
}

form {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 5.5rem;
    margin: 0 auto;

}

.heading h1 span {
    color: #8c60ec;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form-input {
    width: 70%;
    padding: 12px 15px;
    border-radius: 18px;
    margin: 10px auto;
    background-color: #3f3f3fd5;
    color: white;
    border: 3px solid transparent;
    font-size: 1.1rem;
    outline: none;
    transition: 0.2s;
}

.form-input:focus {
    border-color: #8c60ec;
    box-shadow: 3px 3px 5px black;
}

.form-submit {
    width: 73%;
    padding: 12px;
    border-radius: 18px;
    margin: 20px auto;
    background-color: #a27af0;
    color: black;
    font-size: 1.1rem;
    border: 3px solid #a27af0;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #7446e7;
    color: rgba(255, 255, 255, 0.847);
}

label {
    transform: translate(140px, -47px);
    font-size: 1.2rem;
    z-index: 2;
    position: relative;
    color: rgba(255, 255, 255, 0.69);
    transition: 0.2s;
    cursor: pointer;
}

.form-input:focus+label {
    color: #8c60ec;
    transform: translate(95px, -87px) scale(0.9);
}

.inactive {
    color: #8c60ec !important;
    transform: translate(95px, -87px) scale(0.9) !important;
}

form i {
    position: relative;
    transform: translate(767px, -64px);
    cursor: pointer;
    z-index: 2;
    color: rgba(255, 255, 255, 0.677);
}

.some-data {
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    margin-top: 20px;
}

.some-data a {
    text-decoration: none;
    color: #7446e7d1;
}

.some-data a:hover {
    border-bottom: 2px solid #7446e7d1;
}