/* NavBar Stuff */
nav {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  border-bottom: 1px solid #282828;
  position: fixed;
  top: 0;
  z-index: 5;
}

.nav-img-container {
  height: 50px;
  margin-left: 10px;
}

.nav-logo {
  height: 50px;
}

.nav-btn-container {
  margin-right: 20px;
}

.nav-btn {
  background-color: #a27af0;
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-left: 10px;
}

.nav-btn:hover {
  background-color: #7446e7;
  color: whitesmoke;
}

.addon-div {
  height: 65px;
  width: 100%;
  margin-bottom: 10px;
}