.form-container {
    background-color: #282828e5;
    margin: 90px auto 90px;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    width: 60%;
    box-shadow: 3px 3px 5px black;
}

form {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 5.5rem;
    margin: 0 auto;
    text-align: center;

}

.heading h1 span {
    color: #8c60ec;
}

.heading {
    margin-bottom: 25px;
}

.form-input {
    width: 70%;
    padding: 12px 15px;
    border-radius: 18px;
    margin: 12px auto 15px;
    background-color: #3f3f3fd5;
    color: white;
    border: 3px solid transparent;
    font-size: 1.1rem;
    outline: none;
    transition: 0.2s;
}

.form-input:focus {
    border-color: #8c60ec;
    box-shadow: 3px 3px 5px black;
}

label {
    margin: 1px auto 1px 140px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.69);
    cursor: pointer;
}

label:has(+.form-input:focus) {
    color: #8c60ec;
}

.form-submit {
    width: 73%;
    padding: 12px;
    border-radius: 18px;
    margin: 20px auto;
    background-color: #a27af0;
    color: black;
    font-size: 1.1rem;
    border: 3px solid #a27af0;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #7446e7;
    color: rgba(255, 255, 255, 0.847);
}