:root {
  --dark100: #121212; /*page background*/
  --dark200: #282828; /*for seperating sections*/
  --dark300: #3f3f3f; /*side display or simple buttons */
  --dark500: #717171; /*hover effects*/
  --dark600: #8b8b8b; /*for text */

  --purple300: #7446e7; /*buttons hover*/
  --purple400: #8c60ec; /*buttons hover */
  --purple500: #a27af0; /*for buttons main*/

  --successGreen: #559e45;
  --dangerRed: #e04848;
  --alertYellow: #ffd788;
}
